* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    display: none; 
}

.container.active {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: white;
    padding: 2rem;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5rem;
}